{%  extends "books/base.html" %}


{% block title %}
  {{ title }}
{% endblock %}

{% block context %}
 {% for book in page_obj %}
          <div class="card mb-3">
            <div class="card-header">
              Книга: <a href="{{ book.get_absolute_url }}"> {{ book.title}}</a>
            </div>

            <div class="card-footer text-muted">
              {{ item.created_at|date:"Y-m-d H:m:s" }}
            </div>
          </div>
          {% empty %}
              oops
          {% endfor %}



<!-- Pagination -->
<div class="pagination">
<span class="step-links">
    {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
</span>
</div>


{% endblock %}